<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114902393-1"></script> -->
<!-- <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114902393-1');
</script>
-->

	<title>Assignments</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main2.css">
	<link rel="stylesheet" href="/css/modal.css">
</head>
<body>
	
	<div class="nav-container navbar-fixed-top">
		<nav class="nav-header">
			<div class="row header">
				<div class="col-xs-10">
					<h1>ASSIGNMENTS</h1>
				</div>
				<div class="col-xs-2 right">
					<a href="user-settings">
						<h1><span class="glyphicon glyphicon-user"></span></h1>
					</a>
				</div>
			</div>
		</nav>
	</div> 
	<div class="container text-center container-pad" id= wrap>
		{{#each inProgressAssignments}}
			<div class="row item">
				<div class="col-xs-9 left">
					<a href="#" class="thisAssignment">
						<h3 class="prevAssignment">{{name}}</h3>
					</a>
					<div class="col-xs-12 hiddenInfo" id="{{name}}">
						<p class="ResDate">Restart Date: {{restart_date}}</p>
						<p class="ResTime">Restart Time: {{restart_time}}</p>
						<p class="percent_comp">Percent Completed: {{percent_completed}}%</p>
					</div>
				</div>
				<div class="col-xs-3 right">
					<h4 class="centered">In progress</h4>
				</div>
			</div>
		{{/each}}		
		{{#each project}}
			<div class="row item">
	         	<div class="col-xs-10 left">
	                <a href="#" class="thisAssignment">
	                    <h3 class="prevAssignment">{{name}}</h3>
	                </a>
	                <div class="col-xs-12 hiddenInfo" id="{{name}}">
    					<p class="hiddenEtime">Estimated Time: {{estimated_time}}</p>
    					<p class="hiddenAtime">Actual Time Spent: {{actual_time}}</p>
    				</div>
	        	</div>
	        	<div class="col-xs-2 right">
	            	<h4><span class="glyphicon glyphicon-ok"></span></h4>	
	        	</div>
	    	</div>
	    	
	    {{/each}}

	
		<nav class="right nav-footer">
				<a href="#"><span id="myBtn" class="glyphicon glyphicon-plus"></span></a>
		</nav>
	</div> <!-- end container -->

	<!-- The Modal -->
	<div id="myModal" class="modal">
  		<!-- Modal content -->
  		<div class="modal-content">
    		<!--<span class="close">&times;</span> -->
    		<h3 class="addProject">Add New Assignment</h3>
    		<form action="/enterDetails" method="POST">
	    		<input class="form-control" id="project-name" type="text" name="name" placeholder="Assignment Name" value="">
	    		<div class="row done">
	    			<div class="col-xs-6">
	    				<button type="button" class="exit btn btn-danger btn-block home-modal">Cancel</button>
	    			</div>
	    			<div class="col-xs-6">
	    				<button type="submit" id="save" class="exit btn btn-primary btn-block home-modal" onclick="return validate();">Save</button>
	    			</div>
	  			</div>
  			</form>
		</div>
	</div>
	

	<!--<div id="myModal" class="modal moreInfo">
		<div class="modal-content">
			<div class="info">
				<h1 id="name">Assignment Name</h1>
				<p class="eTime">Estimated Time: </p>
				<p id="aTime">Actual Time Spent: </p>
			</div>
			<div class="buttons">
				<button>Got it!</button>
			</div>
		</div>
	</div> -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>		
	
	<script src="/js/home-page.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<!--	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114902393-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-114902393-1');
	</script> -->
</body>
</html>
