<!doctype html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114902393-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114902393-1');
</script>        
-->
    <title>Countdown to start</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <link href="/css/start-popup.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/progress.css" rel="stylesheet">
    <link href="/css/main2.css" rel="stylesheet">
    <link href="/css/modal.css" rel="stylesheet">
    <!--<link href="css/start-input.css" rel="stylesheet">-->
</head>

<body>
    <div class="container-background-1">
    <div class="top-of-page">
        <div class="row">
            <div class="col-9">
                <h1 class="title-text">{{name}}</h1> 
            </div>
            <div class="col-3">
                <a href = "/edit-assignment-from-start"> <img src="/images/edit project.png" class="edit-button"></a>
            </div>
         </div>
     </div>
 <div class ="container">
    <div class ="text-center">
        <center>
            </br>
            <h2>Timer Until Start:</h2>
             <div id="progress-timer"></div>
            </br>
           
            {{#if viewAlt}}
            <a href="/progress-checker/{{name}}"><button type="button" class="btn btn-danger btn-wide btn-block" id="starEarly-button" style="width:70vw; background-color: #009688; border-color: #009688;" align="middle"> Start Now! </button></a>

            {{else}}
            <a href="/progress-checker/{{name}}"><button type="button" class="btn btn-danger btn-wide btn-block" id="starEarly-button" style="width:70vw; background-color: #009688; border-color: #009688;" align="middle"> Start Early! </button></a>
            {{/if}}


        </center>
    </div>


    <div>
        </br>
        </br>
        <button id="myBtn">See what happens when countdown hits 0</button>
        </br>
        </br>   
        <button id="myBtnAGAIN">See what happens When countdown hits 0 and user has delayed more than once</button>
         <!--<button id ="myBtn" onclick="document.getElementById('sound1').play();">When countdown hits 0</button> -->
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <!--<span class="close">&times;</span>-->            
            <div class="startOptions">
                <h1>It's time to start working on the assignment</h1>
            </div>

            <div class="startOptions">
                <div class=row>
                    <div class="col 1">
                        <a href="/progress-checker/{{name}}">Start!</a>
                    </div>
                    <div class="col 11">
                        <a href="/delay-start.html">Delay</a>
                    </div>
                </div>
            </div>
    </div>

    <div id="myModalAGAIN" class="modal">
        <div class="modal-content">
            <!--<span class="close">&times;</span>-->        
            <div class="startOptions">
                <h1>IT'S TIME TO START ON YOUR ASSIGNMENT NOW!!!!</h1>
            </div>           

        <div class="startOptions">
            <a href="/progress-checker/{{name}}">START NOW!</a>
            <div class="btnDivider" />
            <a href="/delay-start.html">DELAY AGAIN</a>
            <!--<a href="delay-startAGAIN.html">DELAY AGAIN</a> CREATE THIS PAGE-->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>     
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/jquery-countdown/dist/jquery.countdown.js"></script>
    <script src="/js/countdownUntilStart.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
</div>
</body>
</html>
